<div class="container mt-2">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading"><h2>Editing Super Hero</h2></div>
        <div class="panel-body">
          <div class="panel">
            <div class="panel-body">
              <div class="col-sm-12">
                  <form method="POST" class="form-horizontal">
                    <input type="hidden" name="heroid" value="{{superHero._id}}">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" value="{{superHero.name}}"><br/>
                    <label for="alias">Alias</label>
                    <input type="text" name="alias" id="alias" class="form-control" value="{{superHero.alias}}"><br/>
                    <div class="panel">
                        <div class="panel-heading"><h4>Protection Area</h4></div>
                        <div class="panel-body">
                            <div class="col-sm-3">
                                <label for="protectName">Name</label>
                                <input type="text" name="protectName" id="protectName" class="form-control" value="{{superHero.ProtectionArea.name}}"><br/>
                            </div>
                            <div class="col-sm-3">
                                <label for="latitude">Latitude</label>
                                <input type="text" name="latitude" id="latitude" class="form-control" value="{{superHero.ProtectionArea.lat}}"><br/>
                            </div>
                            <div class="col-sm-3">
                                <label for="longitude">Longitude</label>
                                <input type="text" name="longitude" id="longitude" class="form-control" value="{{superHero.ProtectionArea.long}}"><br/>
                            </div>
                            <div class="col-sm-3">
                                <label for="radius">Radius (km)</label>
                                <input type="text" name="radius" id="radius" class="form-control" value="{{superHero.ProtectionArea.radius}}"><br/>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"><h4>Super Powers</h4></div>
                        <div class="panel-body">
                            <div class="col-sm-12">
                                {{#each powerList}}
                                <div class="checkbox col-sm-3">
                                  <input type="checkbox" name="superPowers" id="power{{@index}}" value="{{_id}}" {{#if checked}} checked{{/if}}>
                                  <label for="power{{@index}}">{{name}} - {{description}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    <label style="visibility:hidden">Save</label>
                    <button type="submit" class="form-control btn">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>