<div class="container mt-2">
  {{#if messages.success}}
  <div class="text-success">
    {{#each messages.success}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}} {{#if messages.error}}
  <div class="text-danger">
    {{#each messages.error}}
    <div>{{msg}}</div>
    {{/each}}
  </div>
  {{/if}}
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading"><h2>{{superPower.name}}</h2></div>
        <div class="panel-body">
          <div class="panel">
            <div class="panel-body">
              <div class="col-sm-12">
                <label for="description">Description</label>
                <p>{{superPower.description}}</p>
                <label style="visibility:hidden">Edit</label>
                <a href="/editPower/{{superPower._id}}"class="form-control btn">Edit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>